<footer>
  <div>
    <a href=""
      ><img src="./assets/images/ico-arrow.svg" alt=""
    /></a>
  </div>
  <nav>
    <ul>
      <a href="https://adalab.es/" target="_blank"
        >ARTICLES</a
      >
      <a href="https://adalab.es/" target="_blank">BOOKS</a>
      <a href="https://adalab.es/" target="_blank"
        >EVENTS</a
      >
      <a href="https://adalab.es/" target="_blank"
        >REASONS</a
      >
      <a href="https://adalab.es/" target="_blank">TIPS</a>
    </ul>

    <ul>
      <a href="https://adalab.es/" target="_blank"
        >TWITTER</a
      >
      <a href="https://adalab.es/" target="_blank"
        >INSTAGRAM</a
      >
      <a href="https://adalab.es/" target="_blank"
        >MASTODON.SOCIAL</a
      >
    </ul>
  </nav>
  <small>&copy 2023</small>
  <p></p>
  <small>we ❤️ components</small>
</footer>
