<footer class="footer">
  <div class="footer__div1">
    <a src="header.html" href="#toHeader" class="div__arrow"
      ><img src="./assets/images/ico-arrow.svg" alt=""
    /></a>
  </div>
  <div class="footer__div2">
    <nav class="footer__nav1">
      <ul class="footer__list1">
        <a
          class="footer__list--link"
          href="https://adalab.es/"
          target="_blank"
          >ARTICLES</a
        >
        <a
          class="footer__list--link"
          href="https://adalab.es/"
          target="_blank"
          >BOOKS</a
        >
        <a
          class="footer__list--link"
          href="https://adalab.es/"
          target="_blank"
          >EVENTS</a
        >
        <a
          class="footer__list--link"
          href="https://adalab.es/"
          target="_blank"
          >REASONS</a
        >
        <a
          class="footer__list--link"
          href="https://adalab.es/"
          target="_blank"
          >TIPS</a
        >
      </ul>
    </nav>
    <nav class="footer__nav2">
      <ul class="footer__list2">
        <a
          class="footer__list--link"
          href="https://adalab.es/"
          target="_blank"
          >TWITTER</a
        >
        <a
          class="footer__list--link"
          href="https://adalab.es/"
          target="_blank"
          >INSTAGRAM</a
        >
        <a
          class="footer__list--link"
          href="https://adalab.es/"
          target="_blank"
          >MASTODON.SOCIAL</a
        >
      </ul>
    </nav>
    <span class="smalls"
      ><small class="footer__small1">&copy 2023</small>
      <p></p>
      <small class="footer__small2">we ❤️ components</small>
    </span>
  </div>
</footer>
