<footer class="footer">
  <div class="footer__div">
    <a href="#toHeader"
      class="div__arrow"><img src="./assets/images/ico-arrow.svg" alt=""
    /></a>
  </div>
  <nav class="footer__nav">
    <ul class="footer__list1">
      <a class="footer__list--link" href="https://adalab.es/" target="_blank"
        >ARTICLES</a
      >
      <a class="footer__list--link" href="https://adalab.es/" target="_blank">BOOKS</a>
      <a class="footer__list--link" href="https://adalab.es/" target="_blank"
        >EVENTS</a
      >
      <a class="footer__list--link" href="https://adalab.es/" target="_blank"
        >REASONS</a
      >
      <a class="footer__list--link" href="https://adalab.es/" target="_blank">TIPS</a>
    </ul>

    <ul class="footer__list2">
      <a class="footer__list--link" href="https://adalab.es/" target="_blank"
        >TWITTER</a
      >
      <a class="footer__list--link" href="https://adalab.es/" target="_blank"
        >INSTAGRAM</a
      >
      <a class="footer__list--link" href="https://adalab.es/" target="_blank"
        >MASTODON.SOCIAL</a
      >
    </ul>
</nav>
    <span><small class="footer__small1">&copy 2023</small>
    <p></p>
    <small class="footer__small2">we ❤️ components</small> 
</footer>
