<section>
  <h3>3 Reasons To Purchase</h3>
  <include
    src="reasons.html"
    reasonstitle="Ut sed metus"
    reasonstext="Lorem ipsum dolor sit amet, consecteur."
  >
  </include>
  <include
    src="reasons.html"
    reasonstitle="Curabitur ac erat"
    reasonstext="Mauris mattis urna quis lorem molestie."
  >
  </include>
  <include
    src="reasons.html"
    reasonstitle="Morbi dictum"
    reasonstext="Aliquam in dolor et dolor tincidunt."
  >
  </include>
  <button>More reasons</button>
</section>
