// fonts 
 $textFont: 'Roboto', sans-serif;
 $titleFont:'Roboto Slab',serif;

//colors 
$buttonsColor: #f26002;
$whiteBackground: white;
$blueBackground: #8ccbea; 
$headerBackground: #0271bc; 
$footerBackground: #304268;

// 
$margin: 15px