.footer {
    height: 80vh;
    background-color: $footerBackground; 
    @media (min-width: 768px){
        height: 50vh;
    }
}
.footer__div1 {
    height: 45px; 
    width: 45px;
    border-radius: 50%;
    background-color: $whiteBackground; 
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    margin-left: 140px;
    @media (min-width: 768px) {
        margin-left: 360px;
    }
    @media (min-width: 1280px) {
            margin-left: 620px;
    }
}
.footer__div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
    flex-direction: row; 
    justify-content: space-around;  
    }
    @media (min-width: 1280px) {
        justify-content: space-evenly;
    }
}
.footer__list1, .footer__list2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    @media (min-width: 768px) {
        margin-left: 20px;
    }
}
.footer__nav1 {
@media (min-width: 768px) {
    order: 2;
    }  
}
.footer__nav2 {
@media (min-width: 768px) {
    order: 3; 
    }  
}
.footer__list--link {
    color: $whiteBackground;
    text-decoration: none;
    font-family: $textFont;
    margin-bottom: 15px;
    
}
.smalls {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $whiteBackground;
    font-family: $textFont;
    font-size: 13px;
    margin-bottom: 40px;
    @media (min-width: 768px) {
        align-items: flex-start;
        order: 1;
        margin-bottom: 95px;
    }
}  
.footer__small1 {
    margin-bottom: 10px;
}

    


