.hero {
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero__title { 
    font-family: $titleFont; 
    color:$whiteBackground;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero__text {
    font-family: $textFont;
    color:$whiteBackground;
    text-align: center;
}
