.principal_main {
    height: 50vh;   
}
.hero {
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 768px) {
            height: 100vh;
        }
    &__title { 
    font-family: $titleFont; 
    color:$whiteBackground;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 200px;
    @media (min-width: 768px){
        font-size: 75px;
    }
    }
    &__text {
    font-family: $textFont;
    color:$whiteBackground;
    text-align: center;
    margin-top: 25px;
    @media (min-width: 768px) {
        font-size: 25px;
        }
    }    
}
.hero__div {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $whiteBackground;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    transform: translateY(50%);
    &__scroll {
        margin-top: 17px;
    } 
}
