.principal_main {
    height: 50vh;
}
.hero {
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title { 
    font-family: $titleFont; 
    color:$whiteBackground;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 265px;
    }
    &__text {
    font-family: $textFont;
    color:$whiteBackground;
    text-align: center;
    margin-top: 25px;
    }    
}
.hero__div {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $whiteBackground;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    text-align: center; 
     
}
.hero__scroll {
        margin-top: 17px;
    } 