.main2 {
    height: 45vh;
    background-color: $whiteBackground;
    &__div {
    margin-left: $margin;
    margin-top: 25px;
    color: $blueBackground;
    font-size: 14px;
    font-family: $textFont;
    @media (min-width: 768px) {
         margin-left: 40px;
        }
    @media (min-width: 1280px) {
        margin-left: 40px;
    }
    } 
   &__title {
   margin-top: 10px;
   margin-left: $margin;
   margin-right: $margin;
   font-family: $titleFont;
   font-size: 25px;
   font-weight: 600;
   line-height: 1.20;
   @media (min-width: 768px) {
        margin-left: 40px; 
        margin-top: 15px;
        .line {
            display: none;
            }
    }
    @media (min-width: 1280px) {
            margin-left: 40px;
    }
   }
    &__text {
    margin-top: 20px;
    margin-left: $margin;
    margin-right: $margin;
    font-family: $textFont;
    font-weight: 400;
    font-size: 17px;
    color: #4a4a4a;
    line-height: 1.60;
    @media (min-width: 768px) {
            margin-left: 40px;
            margin-top: 30px;
            font-size: 20px;
            margin-right: 40px;
        }
    } 
    @media (min-width: 1280px) {
            margin-left: 280px;
    }

}
.main2__button {
    margin-top: 30px;
    margin-bottom: 45px;
    margin-left: $margin;
    width: 80px;
    height: 45px;
    border: 3px solid $buttonsColor;
    color: $buttonsColor;
    background-color: $whiteBackground;
    font-size: 20px;
    font-weight: 600;
    font-family: $textFont;
    border-radius: 25px;
    @media (min-width: 768px) {
        margin-left: 40px;
        width: 90px;
    }
    @media (min-width: 1280px) {
        width: 150px;
    }
}
