.main3 {
    height: 90vh;
    background-color: #eff9ff;
    text-align: center;
    @media (min-width: 768px) {
        height: 65vh; 
    }
}
.main3__title {
    padding-top: 35px;
    font-family: $titleFont;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    @media (min-width: 1280px) {
        font-size: 32px;
    }
}
.section__articles{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}
.main3__article {
    margin-top: 30px; 
    margin-bottom: 30px; 
    @media (min-width: 768px) {
        margin-top: 50px;
    }
}
.main3__subtitles {
    font-family: $titleFont;
    font-size: 18px;
    font-weight: 600;
    @media (min-width: 768px) {
          font-size: 24px;
        }
}
.main3__text {
    color: black;
    font-size: 18px;
    font-weight: 400;
    font-family: $textFont;
    margin: 4px 70px 0 70px;
    @media (min-width: 768px) {
            font-size: 20px;
            margin-top: 15px;
        }
    @media (min-width: 1280px) {
        font-size: 22px;
    }
}
.main3__button {
    margin-top: $margin;
    margin-bottom: 60px;
    background-color: $buttonsColor;
    color: $whiteBackground;
    height: 45px;
    width: 200px;
    border: 3px solid $buttonsColor;
    border-radius: 25px;
    font-family: $textFont;
    font-size: 18px;   
    @media (min-width: 1280px) {
        width: 255px;
        text-transform: capitalize;
    }
}
